:root {
  --bg-primary: 5, 0, 0;
  --bg-secondary: 30, 30, 30;
  --bg-tertiary: 45, 40, 40;
  --fnt-primary: 255, 255, 255;
  --fnt-secondary: 200, 200, 200;
  --tn-primary: 250, 50, 50;
  --tn-secondary: 255, 70, 70;

  // --bg-primary: 255, 255, 255;
  // --bg-secondary: 220, 220, 230;
  // --bg-tertiary: 255, 255, 255;
  // --fnt-primary: 0, 0, 0;
  // --fnt-secondary: 50, 50, 50;
  // --tn-primary: 250, 50, 50;
  // --tn-secondary: 255 70, 70;

  // --

  --xl-font-size: 3em;
  --h1-font-size: 2em;
  --h2-font-size: 1.5em;
  --h3-font-size: 1.4em;
  --h4-font-size: 1.3em;
  --h5-font-size: 1.2em;
  --p-font-size: 1em;
  --span-font-size: 1em;
}

$fXl: var(--xl-font-size);
$fH1: var(--h1-font-size);
$fH2: var(--h2-font-size);
$fH3: var(--h3-font-size);
$fH4: var(--h4-font-size);
$fH5: var(--h5-font-size);
$fP: var(--p-font-size);
$fSpan: var(--span-font-size);
$bg1: var(--bg-primary);
$bg2: var(--bg-secondary);
$bg3: var(--bg-tertiary);
$fn1: var(--fnt-primary);
$fn2: var(--fnt-secondary);
$tn1: var(--tn-primary);
$tn2: var(--tn-secondary);
$tn3: var(--tn-tertiary);

// other
$min-small-screen: 450px;
$small-screen: 576px;
$medium-screen: 820px;
$large-screen: 992px;
$extra-large-screen: 1200px;
$big-screen: 1350px;
$radius: 10px;
$padding: 15px;
$icon: 20px;
$family-size: 12px;
$fontBase: 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono',
  'Segoe UI Emoji';
$font1: var(--MontserratFont);
$font2: var(--RobotoFont);
$font3: var(--PlayFairFont);
$gr1: linear-gradient(90deg, rgb($tn1) 0%, rgb($tn2) 100%);
$sha1: 6px 5px 20px -5px rgb($bg3);

// Basic colors
$error: rgb(228 30 56);
$success: rgb(40 167 69);
$warning: rgb(255 193 7);
$info: rgb(23 162 184);
$blood: rgb(203 28 112);

@mixin dotDark {
  body.dark & {
    @content;
  }
}

@mixin border($bg: rgb($bg1)) {
  & {
    background-color: $bg;
    border: 1.5px solid rgb($bg3);
  }
}

@mixin hoverS($scale: 0.99, $s: 0.2s) {
  scale: 1;
  transition: all $s ease-in;

  &:hover {
    scale: $scale;
    @content;
  }
}
