@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.history {
  &-buttons {
    scale: 1;
    width: fit-content;
    transition:
      scale 0.5s ease-in-out,
      background-color 0.5s ease-in-out;

    @include d.flex($gap: 5px, $dir: row);

    &.cl-tree button:last-child,
    &.cl-array button:first-child {
      scale: 0.93;
      background-color: rgb(v.$tn1);

      svg {
        stroke: rgb(v.$fn1);
      }
    }
  }

  &-button {
    padding: v.$padding * 0.8;
    border-radius: v.$radius;

    @include d.flex($dir: row, $ali: center, $gap: 5px);

    @include v.border;
  }

  &-icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;

    background-color: rgb(v.$bg1);

    /* stylelint-disable-next-line no-descending-specificity */
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
