@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.history {
  width: 100%;
  border-radius: 10px;

  @include d.flex;

  &-subTitle {
    width: 100%;
    text-align: center;
  }

  &.remove {
    animation: remove-history 1s forwards;

    @keyframes remove-history {
      to {
        transform-origin: top center;
        transform: scale(0.89);
        filter: blur(10px) opacity(0);
      }
    }
  }

  &-data {
    @include d.flex;

    padding: v.$padding;
    border-radius: v.$radius;
    background-color: rgba(v.$bg2);
  }

  &-actions {
    @include d.flex($ali: center, $dir: row, $gap: v.$padding * 0.5);

    > svg {
      min-width: v.$icon * 1.3;
      height: v.$icon * 1.3;
    }

    button {
      padding: 5px;

      &.pending {
        pointer-events: none;
        user-select: none;
        animation: rotation 1s infinite;

        @keyframes rotation {
          to {
            transform: rotateZ(1turn);
          }
        }
      }
    }
  }

  &-body {
    width: 100%;
    height: max-content;

    .history-section {
      @include d.flex($dir: row, $ali: center);

      img {
        overflow: hidden;

        width: 30px;
        height: 30px;
        border-radius: 50%;

        object-fit: cover;
        background-color: rgb(v.$tn1);
      }
    }
  }

  // Custom styles
  &-search {
    width: 100%;

    @include d.flex($gap: v.$padding * 0.5);

    &__users {
      @include d.flex($gap: v.$padding * 0.5, $dir: row);

      flex-wrap: wrap;

      div {
        overflow: hidden;

        width: 30px;
        height: 30px;
        padding: 2px;
        border-radius: 50%;

        /* stylelint-disable-next-line no-descending-specificity */
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  &-hero {
    justify-content: center;

    width: 100%;
    padding: v.$padding * 0.5;

    text-align: center;

    background-color: rgba(v.$bg2, 0.8);

    @include d.flex($ali: center);

    &__images {
      pointer-events: none;
      user-select: none;

      position: relative;

      width: 80px;
      height: 80px;

      img:first-child {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateY(-20px) translateX(-90%) rotateZ(-25deg);

        width: 80px;
        height: 80px;

        object-fit: contain;
      }

      img:last-child {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &__description {
      h3 {
        margin: 10px;

        u {
          color: rgb(v.$tn1);
        }
      }

      h4 {
        margin: 10px;
        text-transform: capitalize;
      }
    }
  }
}
