@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.history {
  width: 100%;
  padding: v.$padding * 0.7;

  @include v.border(rgba(v.$bg2, 0.5));

  border-radius: 10px;

  @include d.flex;

  &-subTitle {
    width: 100%;
    text-align: center;
  }

  &.remove {
    animation: remove-history 1s forwards;

    @keyframes remove-history {
      to {
        transform-origin: top center;
        transform: scale(0.89);
        filter: blur(10px) opacity(0);
      }
    }
  }

  &-data {
    @include d.flex($dir: row-reverse, $gap: 10px, $ali: center);

    &-left {
      @include d.flex($ali: center);

      svg {
        min-width: 25px;
        height: 25px;
      }

      button {
        padding: 5px;

        svg {
          min-width: 20px;
          height: 20px;
        }

        &.pending {
          pointer-events: none;
          user-select: none;
          animation: rotation 1s infinite;

          @keyframes rotation {
            to {
              transform: rotateZ(1turn);
            }
          }
        }
      }
    }
  }

  &-body {
    width: 100%;
    height: max-content;
    padding: v.$padding;

    background-color: rgba(v.$bg1, 0.8);
    border-radius: v.$radius;

    .history-section {
      @include d.flex($dir: row, $ali: center);

      img {
        width: 30px;
        height: 30px;

        object-fit: cover;
        background-color: rgb(v.$tn1);
        border-radius: 50%;
      }
    }
  }

  // Custom styles
  &-search {
    width: 100%;

    @include d.flex($gap: v.$padding * 0.5);

    &__users {
      @include d.flex($gap: v.$padding * 0.5, $dir: row);

      flex-wrap: wrap;

      div {
        overflow: hidden;

        width: 30px;
        height: 30px;
        padding: 2px;

        border-radius: 50%;

        /* stylelint-disable-next-line no-descending-specificity */
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
}
