@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.history {
  width: 100%;
  padding: v.$padding * 0.7;

  @include v.border(rgba(v.$bg2, 0.5));

  border-radius: 10px;

  @include d.flex;

  &-data {
    @include d.flex($dir: row);

    svg {
      min-width: 25px;
      height: 25px;
    }
  }

  &-body {
    width: 100%;
    height: max-content;
  }
}
