@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.tails {
  width: 100%;
  height: fit-content;

  @include d.flex();

  &-box {
    width: 100%;
    height: fit-content;

    @include d.flex($ali: flex-start);

    &__container {
      @include d.flex();

      width: 100%;
      padding: v.$padding;
      background-color: rgba(v.$bg2, 0.4);
      border-radius: v.$radius;

      > h3 {
        text-transform: capitalize;
      }
    }

    &__item {
      width: 80px;
      height: 100px;
      padding: 10px 0;
      border-radius: v.$radius;

      @include v.border;
      @include d.flex;

      h3 {
        font-weight: lighter;
      }
    }

    &__list {
      @include d.flex($dir: row);

      flex-wrap: wrap;
      width: 100%;
    }
  }
}
