@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.layout-page.dataDon {
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: v.$padding;

  width: 100%;
  height: 100%;
}

.dataDon {
  &-search {
  background-color: rgba(v.$bg1, 0.5);
  }

  &-container {
    padding: v.$padding;
  background-color: rgba(v.$bg1, 0.5);
    border-radius: v.$radius;
  }
}
