@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.histories {
  scroll-behavior: smooth;

  &-data {
    width: 100%;
    height: max-content;
    margin-top: v.$padding * 1.5;

    @include d.flex;
  }

  &-actions {
    position: sticky;
    z-index: 1;
    top: v.$padding;

    justify-content: center;

    width: 100%;
    height: max-content;
    padding: v.$padding * 2 0 v.$padding 0;
    border-radius: v.$radius;

    background-color: rgba(v.$bg1, 0.7);

    @include d.flex($dir: row, $ali: center);
  }

  &-action {
    @include d.flex($dir: row, $gap: 5px);

    padding: v.$padding / 2;
    border-radius: 5px;

    @include v.border(rgb(v.$bg2));
  }
}
