@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.header {
  justify-content: space-between;
  padding: 0 v.$padding;

  @include d.flex($dir: row, $ali: center);

  &,
  &-actions,
  &-lockButton {
    @include d.flex($dir: row, $ali: center);
  }

  &-actions,
  &-lockButton {
    justify-content: center;
  }

  &-lock {
    @include d.flex($dir: row, $ali: center, $gap: v.$padding * 0.2);

    &__link {
      font-size: v.$fH5;
      color: rgb(v.$tn1);
    }
  }

  &-action {
    padding: 5px;
    border-radius: v.$radius;
  }
}
