%scroll-hidden {
  scrollbar-width: none;

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::-moz-scrollbar-thumb {
    display: none;
  }

  &::-moz-scrollbar {
    display: none;
  }

  &::-ms-scrollbar-thumb {
    display: none;
  }

  &::-ms-scrollbar {
    display: none;
  }
}
