@use '@/sass/config/vars' as v;
@use '@/sass/utils/scrollbar' as *;

@mixin textGradient($gr: v.$gr1) {
  background: $gr;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

@mixin pointers($h: auto, $lines: 2) {
  @extend %scroll-hidden;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  height: $h;

  text-overflow: ellipsis;
  white-space: normal;
}
