@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.header {
  justify-content: space-between;
  padding: 0 v.$padding;

  @include d.flex($dir: row, $ali: center);

  &,
  &-actions,
  &-lockButton {
    @include d.flex($dir: row, $ali: center);
  }

  &-actions,
  &-lockButton {
    justify-content: center;
  }

  &-lockButton {
    padding: 5px v.$padding;
    color: v.$bg1;
    background-color: v.$tn1;
    border-radius: 3px;
  }

  &-action {
    padding: 5px;
    border-radius: 3px;
  }
}

.layout-container.dashboard {
  @include d.flex($dir: row, $gap: 0);

  padding: 0;
}

.dHome {
  width: 100%;
  height: 100%;
  padding: v.$padding;
}
