@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/text' as t;

.defaultTail {
  position: relative;
  width: 100px;
  height: 140px;
  border-radius: v.$radius * 0.8;

  @include v.hoverS(0.93);
  @include v.border;

  &-button {
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: v.$padding;

    @include d.flex($ali: center, $gap: v.$padding * 0.5);
  }

  small,
  p {
    scale: 0.8;
  }

  h5 {
    width: 100%;

    @include t.pointers;

    max-height: 30px;
    line-height: 1;
  }

  &-image {
    margin: auto;
    border-radius: v.$radius;
    object-fit: cover;
    background-color: rgb(var(--tn-primary));
  }
}
