@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.addDataPractice {
  @include d.flex($gap: v.$padding * 0.5);

  &-form {
    width: 100%;
    padding: v.$padding 0;

    @include d.flex($gap: v.$padding);

    &__field {
      width: 100%;

      input {
        width: 100%;
        padding: v.$padding * 0.5;

        @include v.border(rgba(v.$bg1, 0.5));

        border-radius: v.$radius * 0.5;
      }
    }

    &__trees {
      @include d.flex($gap: v.$padding * 0.5, $dir: row);

      flex-wrap: wrap;

      button {
        @include d.flex($gap: v.$padding * 0.5, $ali: center);

        justify-content: center;

        width: fit-content;
        min-width: 70px;
        height: 100px;
        padding: 0 5px;
        border-radius: v.$radius * 0.5;

        @include v.border(rgba(v.$bg2, 0.5));

        &.active {
          border-color: rgb(v.$tn1);
        }
      }
    }
  }

  &-submit {
    width: 100%;
    padding: v.$padding * 0.5 0;
    border-radius: v.$radius * 0.5;

    color: rgb(v.$fn1);
    text-align: center;

    background-color: rgb(v.$tn1);
  }
}
