@use '@sass/config/vars' as v;
@use '@sass/utils/media' as m;

@include m.largeScreen() {
  .layout-container.home {
    flex-direction: column;
    align-items: center;

    .home {
      &-right {
        width: 100%;
      }

      &-left {
        width: 100%;
      }
    }
  }
}

@include m.mediumScreen() {
  .layout-container.home {
    text-align: center;

    .home {
      &-brand {
        justify-content: center;
      }

      &-more {
        flex-wrap: wrap;

        &__card {
          &.left,
          &.right {
            width: 70%;
          }
        }
      }
    }
  }
}

@include m.smallScreen() {
  .layout-container.home {
    .home {
      &-process {
        width: 90%;
      }
    }
  }
}

@include m.smallerScreen() {
  .layout-container.home {
    .home {
      &-more &__card {
        &.left,
        &.right {
          width: 100%;
        }
      }

      &-process {
        width: 100%;
      }
    }
  }
}
