@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.layout-page.registerDonor {
  justify-content: center;

  padding: v.$padding;

  text-align: center;

  background-color: rgba(v.$bg1, 0.5);
  border-radius: v.$radius;

  @include d.flex($ali: center);
}

.registerDonor {
  &-container {
    width: 100%;
    height: max-content;

    @include d.flex($ali: center);
  }

  &-title {
    div {
      @include d.flex($dir: row, $ali: center, $gap: 5px);

      justify-content: center;
    }

    h1,
    h4 {
      font-size: v.$fH1;
      text-align: center;
    }

    h4 {
      font-weight: lighter;
    }
  }
}
