@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.layout-page.registerDonor {
  justify-content: center;

  padding: v.$padding;
  border-radius: v.$radius;

  text-align: center;

  background-color: rgba(v.$bg1, 0.5);

  @include d.flex($ali: center);
}

.registerDonor {
  &-container {
    width: 100%;
    height: max-content;

    @include d.flex($ali: center);
  }

  &-title {
    max-width: 300px;
    text-align: center;
  }
}
