@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.searchDonorsForm {
  @include d.flex();

  &-submit {
    width: 100%;
    padding: v.$padding * 0.7 0;

    color: rgb(v.$fn1);

    background-color: rgb(v.$tn1);
    border-radius: v.$radius;
  }

  &-container {
    @include v.border(rgba(v.$bg2, 0.5));

    padding: v.$padding;
    border-radius: v.$radius;

    @include d.flex($gap: v.$padding / 2);
  }

  &-error {
    color: v.$error;
  }

  input {
    padding: 5px 10px;
    border-radius: 5px;

    @include v.border(rgba(v.$bg1, 0.5));

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }

    &[type='number'] {
      appearance: textfield;
    }
  }

  &-range {
    @include d.flex($dir: row, $gap: v.$padding / 2);

    flex-wrap: wrap;

    button {
      padding: 5px;
      font-weight: 900;
      background-color: rgba(v.$bg1, 0.9);
      border-radius: v.$padding * 0.7;

      &.active {
        color: rgb(v.$fn1);
        background-color: rgb(v.$tn1);
      }
    }
  }
}
