@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.RDForm {
  width: fit-content;
  min-width: 312px;
  height: max-content;
  padding: v.$padding;

  @include v.border(rgba(v.$bg1, 0.5));
  @include d.flex;

  border-radius: v.$radius;

  &-link {
    font-size: v.$fP;
    color: rgb(v.$fn1);
    background-color: rgb(v.$bg2);
  }

  &-submit {
    color: rgb(v.$fn1);
    background-color: rgb(v.$tn1);
  }

  &-link,
  &-submit {
    width: 100%;
    padding: v.$radius * 0.8 0;
    border-radius: v.$radius * 0.5;

    font-weight: 900;
    text-align: center;
  }

  &-section {
    padding: v.$padding * 0.5;
    border-radius: v.$radius * 0.5;

    @include v.border(rgba(v.$bg2, 0.6));

    @include d.flex;

    &.error {
      border-color: v.$error;
      background-color: rgb(v.$error, 0.1);

      .error-message {
        font-weight: 500;
        color: rgb(v.$error, 0.8);
      }
    }

    &__field {
      justify-content: space-between;

      @include d.flex($dir: row, $ali: center);
    }

    h5 {
      font-weight: lighter;

      b {
        font-weight: 900;
      }
    }

    select {
      width: 50px;
      padding: v.$padding * 0.4 v.$padding * 0.8;
      border-radius: 5px;
      background-color: rgba(v.$bg2, 0.6);
    }

    input {
      width: min-content;
      padding: 7px 5px;
      border-radius: 5px;

      text-align: right;

      background-color: rgba(v.$bg1, 0.3);
    }
  }
}
