/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@use '@sass/config/global';

@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.layout {
  position: relative;

  display: grid;
  grid-template-areas:
    'nav header header'
    'nav main main'
    'nav main main';
  grid-template-columns: 50px 1fr 230px;
  grid-template-rows: 40px repeat(2, 1fr);
  flex-direction: row;

  width: 100%;
  height: 100%;

  &-nav {
    grid-area: nav;
  }

  &-header {
    grid-area: header;
  }

  &-main {
    grid-area: main;
    background-color: v.$bg1;
  }

  &-container {
    @extend %scroll-hidden;

    overflow-y: scroll;

    width: 100%;
    height: 100%;
    padding: v.$padding / 2;
    border-top-left-radius: v.$radius;

    @include d.flex;
  }
}
