/* stylelint-disable no-descending-specificity */
@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.layout-container.chart {
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 100%;
}

.chart {
  &-draft,
  &-actions {
    height: 100%;
    padding: v.$padding;
    border-radius: v.$radius;
    background-color: rgb(v.$bg1, 0.5);
  }

  &-draft {
    @extend %scroll-hidden;

    position: relative;
    overflow: auto;
  }

  &-actions {
    height: 100%;
    padding: v.$padding;
    border-radius: v.$radius;
    background-color: rgb(v.$bg1, 0.5);
  }
}
