@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.dHome {
  &,
  &-container {
    justify-content: center;

    @include d.flex($ali: center);
  }

  &-container {
    width: 400px;
    height: 100%;
  }

  &-title {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;

    @include d.flex($dir: row, $ali: center, $gap: 5px);

    h1,
    h4 {
      font-size: v.$fH1;
    }
  }
}
