@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.navbar {
  justify-content: space-between;
  height: 100%;
  padding: v.$padding 0;

  @include d.flex($ali: center);

  &-hamburger {
    display: none;
  }

  &-top,
  &-bottom {
    @include d.flex($ali: center);
  }

  &-link {
    padding: 8px;
    border-radius: 5px;

    &.active {
      color: rgb(v.$bg1);
      background-color: rgb(v.$tn1);
    }
  }

  &-logo {
    padding: v.$padding 0;
    background-color: transparent;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
