@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.chartActions {
  @include d.flex;

  position: relative;

  &-options {
    @include d.flex($dir: row);

    flex-wrap: wrap;
    width: 100%;
    padding-left: v.$padding;
  }

  &-option {
    @include d.flex($dir: row, $gap: 5px);

    padding: v.$padding * 0.5;
    border-radius: v.$radius * 0.5;

    @include v.border(rgba(v.$bg1, 0.7));

    &.active {
      border-color: rgb(v.$tn1);
      background-color: rgba(v.$tn1, 0.7);

      svg {
        stroke: rgb(v.$fnA);
      }

      p {
        font-weight: bold;
        color: rgb(v.$fnA);
      }
    }
  }

  &-selectNode {
    @include d.flex;
  }

  .chartRemember {
    position: absolute;
    z-index: 1;
    right: v.$padding;
    bottom: v.$padding;

    justify-content: center;

    width: fit-content;
    padding: v.$padding;
    border-radius: v.$radius;

    @include d.flex($dir: row, $ali: center);
    @include v.border;

    &-spirit {
      width: 50px;
      height: 50px;
      border: 1.5px solid rgba(v.$tn1, 0.7);
      border-radius: 50%;

      object-fit: cover;
    }
  }
}
