@use '@sass/config/vars' as v;

.treeGraph {
  position: relative;
  display: block;

  image,
  text {
    pointer-events: none;
    user-select: none;
  }

  :hover {
    stroke: rgb(v.$tn1);
    stroke-width: 3px;
  }
}
