@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;
@use '@sass/utils/text' as t;

.seDC {
  &-donors {
    @include d.flex($dir: row);

    flex-wrap: wrap;
  }

  &-item {
    @include d.flex($gap: v.$padding * 0.5, $ali: center);

    user-select: none;

    width: fit-content;
    min-width: 140px;
    padding: v.$padding * 0.5;
    border-radius: v.$radius * 0.5;

    text-align: center;

    @include v.border(rgba(v.$bg2, 0.3));

    &__info {
      padding: v.$padding * 0.5 0;

      @include d.flex($gap: v.$padding * 0.5);
    }

    &__blood {
      @include d.flex($dir: row, $ali: center, $gap: v.$padding * 0.5);

      justify-content: center;

      svg {
        stroke: v.$blood;
      }

      p {
        color: v.$blood;
      }
    }

    &__doctor {
      @include d.flex($gap: v.$padding * 0.3, $ali: center);
    }
  }

  &-bgPatient {
    border-radius: 10px;
    object-fit: cover;
  }

  &-bgDoctor {
    border-radius: v.$radius;
    object-fit: cover;
  }
}
