@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  opacity: 1;
  background-color: rgba(v.$bg1, 0.5);
  clip-path: circle(200% at 50% 100%);
  backdrop-filter: blur(10px);

  transition: opacity 0.2s ease-in-out;
  animation: open-clip 0.8s ease-in-out forwards;

  &.closing {
    opacity: 0;
  }

  &-closeButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px;

    color: rgb(v.$fn1);

    background-color: rgb(v.$tn1);
    border-radius: 50%;

    svg {
      stroke-width: 2;
    }
  }

  &-container {
    @extend %scroll-hidden;

    position: relative;
    top: 0;

    overflow-y: auto;
    justify-content: center;

    min-width: fit-content;
    max-width: 85%;
    min-height: fit-content;
    max-height: 85%;

    transition: top 0.2s ease-in-out;

    @include d.flex($ali: center);
  }

  &.closing &-container {
    top: 200px;
  }

  @keyframes open-clip {
    0% {
      clip-path: circle(0% at 50% 100%);
    }

    100% {
      clip-path: circle(200% at 50% 100%);
    }
  }
}
